/* Add custom styling here */
* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

body {
  margin: 0;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

nav > ul {
  max-width: 600px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

nav > ul > li > a {
  color: #ddd;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid #ddd;
}

.btn {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.invalid {
  border: 3px solid tomato;
}

.text-special {
  font-family: cursive;
}

.App {
  min-height: 100vh;
  background: linear-gradient(to bottom left, #111, #444);
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  width: 100%;
  margin-top: 10vh;
}

/* Border with Animation */
.title-container {
  padding: 1rem;
  position: relative;
  text-align: end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title-container > h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.title-container:after {
  position: absolute;
  background: linear-gradient(to left, pink, lightblue);
  height: 1rem;
  border-radius: 1rem;
  content: "";
  bottom: -4px;
  left: 0;
  width: 100%;
  animation: grade 10s infinite;
}

@keyframes grade {
  100% {
    filter: hue-rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.basis-50 {
  flex-basis: 50%;
}

/* CARD */
.card {
  font-size: 0.75rem;
  background-color: #222;
  color: inherit;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #000;
  padding: 0.5rem;
  position: relative;
  margin: 0.5rem 0;
}

.card > p {
  margin-bottom: 0.25rem;
}

/* BADGE */
.badge {
  background-color: #444;
  color: #222;
  font-weight: 900;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #222;
  font-size: 0.5rem;
  padding: 0.25rem;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
}

.badge-success {
  background-color: lightgreen;
}

.badge-warning {
  background-color: goldenrod;
}

.badge-danger {
  background-color: tomato;
}

.mt-0 {
  margin-top: 0;
}

.label {
  border-bottom: 1px solid pink;
  font-size: 0.5rem;
  text-transform: uppercase;
}
